:root {
  /*COLORS*/
  --white: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  /*TYPOGRAPHY*/
  --primary-font: "Young Serif", sans serif;
  --body-font: "Outfit", sans serif;

  /*SPACING*/
  /* 8 12 16 24 32*/
  --space-1: 0.5rem;
  --space-2: 0.75rem;
  --space-3: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
}

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--body-font);
  background-color: var(--Stone-100);
  color: var(--Stone-600);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
  border-radius: var(--space-2);
}
h2 {
  font-weight: 400;
  margin: var(--space-3) 0;
}

h1,
h2 {
  color: var(--Brown-800);
  font-family: var(--primary-font);
}

.hero h1 {
  color: var(--Stone-900);
  font-weight: 500;
}

hr {
  border: none; /* Remove default border */
  border-top: 1px solid var(--Stone-150); /* Add your own border */
  margin: var(--space-5) 0;
}

/* UTILITY CLASSES */
.accent-text {
  color: var(--Rose-800);
  font-weight: 600;
  font-size: 1.12rem;
}
.prep-list {
  font-weight: 600;
}
.img-container {
  width: 100%;
  margin-bottom: var(--space-5);
}
.container {
  background-color: var(--white);
  width: min(720px, 100%);
  padding: var(--space-6);
  border-radius: var(--space-5);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prep-time {
  background-color: var(--Rose-50);
  padding: var(--space-5);
  border-radius: var(--space-5);
  margin: var(--space-5) 0;
}

/* separates bullet points from left */
.bullets-left {
  padding-left: var(--space-5);
}

/* separates text from bullet points */
.prep-time li,
.instructions li,
.ingredients li {
  padding-left: 8px;
}

/* selects the bullet point */
.prep-time li::marker {
  color: var(--Rose-800);
}

.ingredients li::marker,
.instructions li::marker {
  color: var(--Brown-800);
}

.instructions li::marker {
  font-weight: 600;
}
/* spacing between items */
.list-items {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

/* NUTRITION TABLE DESIGN */
.nutrition table {
  width: 100%;
  border-collapse: collapse; /* removes extra space between cells */
  margin-top: var(--space-3);
}

.nutrition td {
  padding: var(--space-2) 0;
  border-bottom: 1px solid var(--Stone-150);
}

.nutrition td:nth-child(2) {
  color: var(--Brown-800);
  font-weight: 600;
}
